router ospf 1
{% for n in interface %}
{% if 'Loopback0' in n.name %}
 router-id {{n.ip_addr}}
 network {{n.ip_addr}} {{n.wildcard}} area {{n.area}}
{% else %}
 network {{n.ip_addr}} {{n.wildcard}} area {{n.area}}
{% endif %}
{% endfor %}