router ospf 1
{% for n in interface %}
{% if 'Loopback' in interface.name %}
 router-id {{n.ip_addr}}
{% endif %}
{% endfor %}
{% for n in interface %}
 network {{n.ip_addr}} {{n.wildcard}} area {{n.area}}
{% endfor %}